.quienes-somos-container {
	padding: 4em 0;
	.container{
		display:flex;
		gap: 2em;
	}
	.persona{
		width:60%;
		height:100%;
		margin: 0 auto;
		border: 2px solid var(--dark-blue);
		padding:2em;
		border-radius: 20px;
		img{
			display:block;
			width: 100%;
			border-radius: 50%;
			margin-bottom: 2em;
		}
		h3{
			padding-bottom: 1em;
		}
		p{
			text-align: left;
			a{
				margin: 1em 0;
				color: var(--orange);
				font-weight: 700;
				display:inline-block;
			}
		}
		
	}
}
