.nopage-container {
	background: url('../../assets/404.jpg') no-repeat center;
	background-size: cover;
	padding: 20em 0 0;
	height:calc( 100vh - 20em );

    .container {
		display:flex;
		align-items:flex-end;
		justify-content:center;
		height:100%;

		a{
			font-family: var(--font-secundario);
			color: var(--dark-blue);
			padding-bottom: 2em;
			font-size: 20px;
			font-weight:600;
		}
	}
}
