.footer {
  background-color: var(--light-blue);
  padding: 5em 0 3em;
  
  @media screen and (max-width: 767px) {
    .logo-area{
      margin-bottom:20px
    }
  }
  ul{

    a{
      font-family: var(font-secundario);
      font-size: 18px;
      font-weight: 700;
      color: var(--dark-blue);
      text-decoration: none;
    }
    a.active{
      color: var(--orange);
    }
  }
}
